* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {

    width: 100%;
    height: auto;
    padding: 5rem;
    margin: auto;
}

.section-one {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
   
}

.one {

    max-width: 50%;
    height: auto;
}

.text-content-one {
    
    width: 40%;
    height: auto;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h1 {

    text-align: center;
    padding-top: 2rem;
    margin: 2rem;
   
}
.button {
    text-decoration: none;
    margin-top: 7rem;
    border: 1px solid transparent;
    border-radius: 6px;
    padding-inline: 1rem;
    padding-block: .4rem;
    font-size: 1rem;
    color: rgb(41, 37, 37);
    background-color: aqua;


}
p {
    margin-bottom: 4rem;
    font-size: 1.5rem;
  

}
.section-two {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 4rem;
    gap: 3rem,
}

.two {
    max-width: 50%;
    height: auto;
}

.text-content-two {

    width: 40%;
    height: auto;
}

.section-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    padding-block: 4rem;
    gap: 4rem;
}

.three {
    width: 50%;
    height: auto;
}
.text-content-three{

    width: 50%;
}
footer {

    padding: 1rem;
    text-align: center;
}